.autodiv,header,footer,#banner,#project{
    width: 100%;
}
.div1000,#aboutUs,company,#newsMSG{
    width: 1000px;
    min-width: 1000px;
    max-width: 1000px;
    margin: 0px auto;
}
.fl{
    float: left; 
}
.fr{
    float: right;
} 
.clear{
    clear:both;
}
.boeder {
     border-bottom: solid 1px #cbcbcb;
}
.titletext{
    font: 20px/24px "微软雅黑";
    line-height: 28px;
    text-transform: uppercase;
}
.fontsize14{
    font-size: 14px;
}
.textCenter{
    text-align: center; 
}
.colorRed{
    color: #d43b33;
}
.colorBlack{
    color:#000;
}
.fontwei{
    font-weight: bold;
}
.paddingTop45{
    padding-top: 42px;
}
.paddingbottom25px{
    padding-bottom: 25px;
}
.margin20{
    margin-bottom: 20px;
}
.lh34{
    line-height: 34px;
}
.margintop20{
    margin-top: 20px;
}
.margintop30{
    margin-top: 30px;
}
.height80{
    height: 80px;
}
#onlineService{
    background-color: #d43b33;
    position: fixed;
    top: 200px;
    left: 0px;
}

/* #aboutUs #aboutTitle{
    width: 180px;
    height: 80px;
    color: #626262;
    position: relative;
    top: 45px;
    background-color: #ffffff;
    margin: 0px auto;
} 
#aboutUs .btnMore{
    width: 106px;
    height: 38px;
    margin: 20px auto;
    line-height: 38px;
    text-align: center;
    background: url(../imgs/more_bg.png) no-repeat;
}
#aboutUs .btnMore:hover{
    cursor: pointer;
} */